main {
    background: url('https://source.unsplash.com/random/2880x1800');
    height: 100vh;
}
body { 
    margin: 0;
}

header {
    background-color: red;
    color: green;
    font-size: 1.5em;
    margin: 0;
}
a {
    text-decoration: none;
}
ul li {
    list-style-type: none;
}
h1 {
    text-align: center;
    margin: 0;
}
h2 {
    margin: 0;
}
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
}

.nav-links li {
    padding: 10px;
}